﻿
@{
    ViewBag.Title = "Tin tức";
    List<ZenPlayWebGame.Models.WebNew> FirstNews = ViewData["FirstNews"] as List<ZenPlayWebGame.Models.WebNew>;
}


<section id="body-content">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">

                <div class="navigation-menu">
                    <ul>
                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["host"]">Trang chủ &gt;</a></li>
                        <li><a href="@ViewBag.category_host">@ViewBag.category</a></li>
                    </ul>
                </div>

                <div class="block-content">
                    <h4 class="title">@ViewBag.title2</h4>
                    <div style="z-index:999;">
                        <div class="authorndate">Bản Tin Game - <strong>ADMIN</strong> @ViewBag.datetime</div>
                        <div class="social">
                            <a class="fb-send" data-href="app_zenplay-tulokho/classes/presenter/news.php">Send</a>
                            <a class="fb-like" data-href="@ViewBag.href"
                               data-layout="button" data-action="like" data-size="small" data-show-faces="true"
                               data-share="false">Like</a>
                            <div class="fb-share-button" data-href="@ViewBag.href"
                                 data-layout="box_count" data-size="small" data-mobile-iframe="true">
                                <a class="fb-xfbml-parse-ignore" target="_blank"
                                   href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftulokho.gamex.vn%2Fd%2Fdasdasdasd-181&amp;src=sdkpreparse">
                                    Chia
                                    sẻ
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="description">@ViewBag.detail</p>

                    <div class="content-inside">
                        <div class="content-list-news">
                            <ul>
                                @foreach (var g in FirstNews)
                                {
                                    <li>
                                        @Html.Raw("<a href=\"" + @ViewBag.HOST + g.Alias + "\"" + ">" + g.Title)
                                        @*@Html.Raw("<a href=\"detail?id=" + g.Id + "\"" + ">" + g.Title)*@
                                        @Html.Raw("</a>")
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>

                @Html.Raw(@ViewBag.data)
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 nopadding-left hidden-xs">
                <div class="block-search">
                    <form role="search" class="search-block">
                        <div class="form-group form-search">
                            <input type="text" placeholder="Search" class="form-control" name="title"
                                   value="">
                            <button type="submit" class="btn btn-default btn-search" value="Search"></button>
                        </div>
                    </form>
                </div>
                <div class="block-playnow">
                    @if (Utils.fBrowserIsMobile())
                    {

                        if (!Utils.isIOS())
                        {
                            <a href="@ViewBag.android">
                                <img src="~/assets/zenplay/images/button-playnow.jpg" />
                            </a>
                        }
                        else
                        {
                            <a href="@ViewBag.ios">
                                <img src="~/assets/zenplay/images/button-playnow.jpg" />
                            </a>
                        }

                    }
                    else
                    {
                        <a href="@ViewBag.android">
                            <img src="~/assets/zenplay/images/button-playnow.jpg" />
                        </a>
                    }
                </div>

                <div class="block-facebook">
                    <h4>Facebook</h4>
                    <div class="fb-page" data-href="https://www.facebook.com/zenplayvn/" data-tabs="timeline"
                         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                         data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/zenplayvn/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/zenplayvn/">Zenplay</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="assets/script/kdt-js.js"></script>