﻿@{
    ViewBag.Title = "ZenPlay";
    <link href="~/assets/zenplay/css/common.css" rel="stylesheet" />
}

<section id="form1"
         style="background-image:url('assets/zenplay/images/bg-big.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="block-stream">
                    <!-- unity -->
                    <div class="template-wrap clear">
                        <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="625" width="1100"></canvas>
                        <div id="holo" class="fake loading">
                            <img src="assets/zenplay/images/loading.png" />
                        </div>
                    </div>
                    <div>
                        <a href="http://157.119.247.10/zenplay.apk"><img src="assets/zenplay/images/googleplay.png"></a>
                    </div>
                    <!-- /end main -->
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    setTimeout(function () { $("#holo").remove(); }, 15000);  
</script>
<script>
        var Module = {
            TOTAL_MEMORY: 268435456,
            // TOTAL_MEMORY: 368435456,
            errorhandler: null,         // arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
            compatibilitycheck: null,
            dataUrl: "zenplaysdk/Release/WebGL.data",
            codeUrl: "zenplaysdk/Release/WebGL.js",
            memUrl: "zenplaysdk/Release/WebGL.mem",
        };
</script>
<script src="zenplaysdk/Release/UnityLoader.js"></script>
<script src="zenplaysdk/TemplateData/UnityProgress.js?v=1"></script>
