﻿
@{
    ViewBag.Title = "Tin tức";
    List<ZenPlayWebGame.Models.WebNew> HotNewsSmall = ViewData["HotNewsSmall"] as List<ZenPlayWebGame.Models.WebNew>;
    ZenPlayWebGame.Models.WebNew HotBigNew = ViewData["HotBigNew"] as ZenPlayWebGame.Models.WebNew;

    List<ZenPlayWebGame.Models.WebNew> SmallNews_1 = ViewData["SmallNews_1"] as List<ZenPlayWebGame.Models.WebNew>;
    List<ZenPlayWebGame.Models.WebNew> SmallNews_2 = ViewData["SmallNews_2"] as List<ZenPlayWebGame.Models.WebNew>;
    List<ZenPlayWebGame.Models.WebNew> SmallNews_3 = ViewData["SmallNews_3"] as List<ZenPlayWebGame.Models.WebNew>;

}

<section>
    @*<p>@ViewBag.message</p>*@
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">

                <div class="first-block row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="hot-news-big">
                            @if (HotBigNew != null && !string.IsNullOrEmpty(HotBigNew.ShortDes))
                            {
                                @Html.Raw("<a href=\"" + @ViewBag.HOST + HotBigNew.Alias + "\"" + ">")
                                @Html.Raw("<img src=\"" + HotBigNew.ImageIntro + "\"")
                                @Html.Raw("/>")
                                @Html.Raw("<span>" + HotBigNew.Title + "</span>")
                                @Html.Raw("</a>")
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 nopadding-left">
                        @foreach (var g in HotNewsSmall)
                        {
                            if (g != null && !string.IsNullOrEmpty(g.ShortDes))
                            {
                                <div class="hot-news-small">
                                    @Html.Raw("<a href=\"" + @ViewBag.HOST + g.Alias + "\"" + ">")
                                    @Html.Raw("<img src=\"" + g.ImageIntro + "\"")
                                    @Html.Raw("/>")
                                    @Html.Raw("<span>" + g.Title + "</span>")
                                    @Html.Raw("</a>")
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="title-news">
                    <ul id="tab-menu">

                        @*@{
                                var tempID1 = "";
                                var tempID2 = "";
                                var tempID3 = "";
                                if (ViewBag.index == 1)
                                {
                                    tempID1 = " tab-active";
                                }
                                if (ViewBag.index == 2)
                                {
                                    tempID2 = " tab-active";
                                }
                                if (ViewBag.index == 3)
                                {
                                    tempID3 = " tab-active";
                                }
                                <li>
                                    @Html.Raw("<a href=\"javascript: void(0);\" " + "data-tab=\"tabs-1\" " + "class=\"tab-link" + tempID1 + "\">"
                                           )
                                    <span class="icon-header icon-header-news">Tin tức</span> Tin tức
                                    @Html.Raw("</a>")
                                </li>
                                <li>
                                    @Html.Raw("<a href=\"javascript: void(0);\" " + "data-tab=\"tabs-2\" " + "class=\"tab-link" + tempID2 + "\">"
                                           )
                                    <span class="icon-header icon-header-star">Sự kiện</span> Sự kiện
                                    @Html.Raw("</a>")
                                </li>
                                <li>
                                    @Html.Raw("<a href=\"javascript: void(0);\" " + "data-tab=\"tabs-3\" " + "class=\"tab-link" + tempID3 + "\">"
                                           )
                                    <span class="icon-header icon-header-info">Hướng dẫn</span> Hướng dẫn
                                    @Html.Raw("</a>")
                                </li>
                            }*@
                        <li><a href="javascript:void(0);" data-tab="tabs-1" class="tab-link"><span class="icon-header icon-header-news">Tin tức</span> Tin tức</a></li>
                        <li><a href="javascript:void(0);" data-tab="tabs-2" class="tab-link"><span class="icon-header icon-header-star">Sự kiện</span> Sự kiện</a></li>
                        <li><a href="javascript:void(0);" data-tab="tabs-3" class="tab-link"><span class="icon-header icon-header-info">Hướng dẫn</span> Hướng dẫn</a></li>
                    </ul>
                </div>

                @{
                    var tempID1 = " display: none;";
                    var tempID2 = " display: none;";
                    var tempID3 = " display: none;";
                    if (ViewBag.index == 1)
                    {
                        tempID1 = " display: block;";
                    }
                    if (ViewBag.index == 2)
                    {
                        tempID2 = " display: block;";
                    }
                    if (ViewBag.index == 3)
                    {
                        tempID3 = " display: block;";
                    }

                    @Html.Raw("<div class=\"small-news tab-content\" " + "style=\"margin-bottom: 20px;" + tempID1 + "\" " + "id=\"tabs-1\">");

                    foreach (var g in SmallNews_1)
                    {
                        if (g != null && !string.IsNullOrEmpty(g.ShortDes))
                        {
                            <div class="block-news-img">
                                @Html.Raw("<a href=\"" + @ViewBag.Host + g.Alias + "\"" + ">")
                                @Html.Raw("<img src=\"" + g.ImageIntro + "\"")
                                @Html.Raw("/>")
                                @Html.Raw("</a>")
                            </div>
                            <div class="block-news-content">
                                <h3>
                                    @Html.Raw("<a href=\"" + @ViewBag.Host + g.Alias + "\"" + ">" + g.Title + "</a>")
                                </h3>
                                <p>@Html.Raw(g.ShortDes)</p>
                                <div class="block-news-tags">@Html.Raw(g.Tags)</div>
                                <div class="block-news-date">@Html.Raw(g.DatePublic.ToString("yyyy-MM-dd HH:mm:ss"))</div>
                            </div>
                            <div style="padding-bottom: 5px;"></div>
                        }
                    }
                    @Html.Raw("</div>");

                    @Html.Raw("<div class=\"small-news tab-content\" " + "style=\"margin-bottom: 20px;" + tempID2 + "\" " + "id=\"tabs-2\">");

                    @*<div class="small-news tab-content" style="margin-bottom: 20px;" id="tabs-2">*@
                foreach (var g in SmallNews_2)
                {
                    if (g != null && !string.IsNullOrEmpty(g.ShortDes))
                    {
                        <div class="block-news-img">
                            @Html.Raw("<a href=\"" + @ViewBag.Host + g.Alias + "\"" + ">")
                            @Html.Raw("<img src=\"" + g.ImageIntro + "\"")
                            @Html.Raw("/>")
                            @Html.Raw("</a>")
                        </div>
                            <div class="block-news-content">
                                <h3>
                                    @Html.Raw("<a href=\"" + @ViewBag.Host + g.Alias + "\"" + ">" + g.Title + "</a>")
                                </h3>
                                <p>@Html.Raw(g.ShortDes)</p>
                                <div class="block-news-tags">@Html.Raw(g.Tags)</div>
                                <div class="block-news-date">@Html.Raw(g.DatePublic.ToString("yyyy-MM-dd HH:mm:ss"))</div>
                            </div>
                                <div style="padding-bottom: 5px;"></div>
                    }
                }
                @Html.Raw("</div>");

                    @Html.Raw("<div class=\"small-news tab-content\" " + "style=\"margin-bottom: 20px;" + tempID3 + "\" " + "id=\"tabs-3\">");
                    @*<div class="small-news tab-content" style="margin-bottom: 20px;" id="tabs-2">*@
                foreach (var g in SmallNews_3)
                {
                    if (g != null && !string.IsNullOrEmpty(g.ShortDes))
                    {
                        <div class="block-news-img">
                            @Html.Raw("<a href=\"" + @ViewBag.Host + g.Alias + "\"" + ">")
                            @Html.Raw("<img src=\"" + g.ImageIntro + "\"")
                            @Html.Raw("/>")
                            @Html.Raw("</a>")
                        </div>
                            <div class="block-news-content">
                                <h3>
                                    @Html.Raw("<a href=\"" + @ViewBag.Host + g.Alias + "\"" + ">" + g.Title + "</a>")
                                </h3>
                                <p>@Html.Raw(g.ShortDes)</p>
                                <div class="block-news-tags">@Html.Raw(g.Tags)</div>
                                <div class="block-news-date">@Html.Raw(g.DatePublic.ToString("yyyy-MM-dd HH:mm:ss"))</div>
                            </div>
                            <div style="padding-bottom: 5px;">
                            </div>
                    }
                }
                @Html.Raw("</div>");
                }


            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 nopadding-left hidden-xs">
                <div class="block-search">
                    <form role="search" class="search-block">
                        <div class="form-group form-search">
                            <input type="text" placeholder="Search" class="form-control" name="title"
                                   value="">
                            <button type="submit" class="btn btn-default btn-search" value="Search"></button>
                        </div>
                    </form>
                </div>
                <div class="block-playnow">
                    @if (Utils.fBrowserIsMobile())
                    {

                        if (!Utils.isIOS())
                        {
                            <a href="@ViewBag.android">
                                <img src="~/assets/zenplay/images/button-playnow.jpg" />
                            </a>
                        }
                        else
                        {
                            <a href="@ViewBag.ios">
                                <img src="~/assets/zenplay/images/button-playnow.jpg" />
                            </a>
                        }

                    }
                    else
                    {
                        <a href="@ViewBag.android">
                            <img src="~/assets/zenplay/images/button-playnow.jpg" />
                        </a>
                    }

                </div>

                <div class="block-facebook">
                    <h4>Facebook</h4>
                    <div class="fb-page" data-href="https://www.facebook.com/zenplayvn/" data-tabs="timeline"
                         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                         data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/zenplayvn/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/zenplayvn/">Zenplay</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/script/kdt-js.js"></script>