﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Authorization.aspx.cs" Inherits="ConnectGraph_Authorization" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
      <script src="/Scripts/jquery-1.10.2.js"></script>
</head>
<body>

    <script type='text/javascript'>

        $(document).ready(function () {
            if (typeof parent.VegaidModal_close != 'undefined')
            {
                parent.VegaidModal_close();
            }
            
        });

    </script>

</body>
</html>
