﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.title3</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="~/assets/zenplay/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/zenplay/css/normalize.css" rel="stylesheet" />
    <link href="~/assets/popup/popup.css" rel="stylesheet" />
    <link href="~/assets/zenplay/css/main-style.css?v=1" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/assets/zenplay/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/script/float.js"></script>
    <script type="text/javascript" src="~/assets/popup/popup.js"></script>  
</head>
<body>

    <!--Install-->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <div style="display:none" class="popup block-login pop" id="popup-date">
        <a href="javascript:void(0);" class="btn-popup-close" onClick="closePopup()"><img src="/assets/popup/icon-close.png" /></a>
        <div class="popup-side" style="text-align:center;width:100%;">
            <h3>Tính năng sắp ra mắt!</h3>
        </div>
    </div>
    <div class="blackscene"></div>
    <section class="visible-xs" id="block-install">
        <div class="icon">
            <img src="/assets/zenplay/images/icongame.png" alt="" />
        </div>
        <div class="info">
            <h3>Zenplay</h3>
            <h4>Version 2.0</h4>
        </div>
        @if (Utils.fBrowserIsMobile())
        {
            <div style="vertical-align: middle;  position: absolute;  right: 0px; margin-right:10px">
                <h3>

                    @if (!Utils.isIOS())
                    {
                        <a style="padding:3px" class="btn-primary" href="http://157.119.247.10/zenplay.apk">Cài đặt</a>
                    }
                    else
                    {
                        <a style="padding:3px" class="btn-primary" href="http://ios.zenplay68.com/">Cài đặt</a>
                    }
                </h3>

            </div>
        }


    </section>
    <!--Install-->
    <div class="hidden-xs hidden-sm" id="block-float">
        <ul>
            <li><a href="https://www.facebook.com/zenplayvn" target="_blank"><span class="icon-float icon-facebook" style="background-position: 0 -94px"></span>Fanpage</a></li>
            <li><a href="javascript:;" onClick="toTop()"><span class="icon-float icon-top" style="background-position: 0 -140px"></span>Top</a></li>
            <li><a href="http://hotro.zenid68.com/" target="_blank"><span class="icon-float icon-support" style="background-position: 0 -184px"></span>Hỗ trợ</a></li>
        </ul>
    </div>

    <header id="header">
        <div class="container" style="overflow:visible;">
            <div class="navbar-header">
                <a href="/" id="logo-game">
                    <img src="/assets/zenplay/images/logo-gamex.png"
                         alt="Logo" />
                </a>
                <button type="button" class="navbar-toggle collapsed btn-header-small" data-toggle="collapse"
                        data-target="#menu-nav" aria-expanded="false">
                    <span class="icon-header-small icon-menu">Mở rộng</span><br>
                    <span>Mở rộng</span>
                </button>
                <button type="button" class="navbar-toggle collapsed btn-header-small" data-toggle="collapse"
                        data-target="#menu-search" aria-expanded="false">
                    <span class="icon-header-small icon-search">Tìm kiếm</span><br>
                    <span>Tìm kiếm</span>
                </button>
                <button type="button" class="navbar-toggle collapsed btn-header-small" onClick="openLoginWebGL_2()">
                    <span class="icon-header-small icon-facebook">Nạp tiền</span><br>
                    <span>Nạp tiền</span>
                </button>
            </div>
            <div class="navbar-right navbar-collapse collapse" id="menu-nav" aria-expanded="true">
                <ul class="nav navbar-nav active">
                    <li>
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["host"]">
                            <span class="icon-header icon-header-home">Trang chủ</span> Trang
                            chủ
                        </a>
                    </li>

                    <li>
                        <a href="/c/tin-tuc" target="_blank">
                            <span class="icon-header icon-header-news">Tin tức</span> Tin
                            tức
                        </a>
                    </li>
                    <li>
                        <a href="/c/su-kien" target="_blank">
                            <span class="icon-header icon-header-star">Sự kiện</span> Sự
                            kiện
                        </a>
                    </li>
                    <li>
                        <a href="/c/huong-dan" target="_blank">
                            <span class="icon-header icon-header-info">H.dẫn</span>
                            H.dẫn
                        </a>
                    </li>
                </ul>
            </div>

            <div class="navbar-right navbar-collapse collapse" id="menu-search" aria-expanded="true">
                <form role="search" class="search-block">
                    <div class="form-group form-search">
                        <input class="form-control input-search" placeholder="Search" type="text">
                        <button type="submit" class="btn btn-default btn-search">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </header>

    @RenderBody()

    <section id="footer">
        <div class="container">
            <ul id="menu-footer">
                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["host"]">Trang chủ</a></li>
                <li><a href="/c/tin-tuc" target="_blank">Tin tức</a></li>
                <li><a href="/c/su-kien" target="_blank">Sự kiện</a></li>
                <li><a href="/c/huong-dan" target="_blank">Hướng dẫn</a></li>
            </ul>
            <p>
                &reg; 2015 - 2017
                &copy; Zenplay
            </p>
        </div>
    </section>


    <div class="modal fade" id="vegaidModal" tabindex="-1" role="dialog" aria-labelledby="vegaidModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe src="" style="width:100%; height:700px" frameborder="0" scrolling="yes"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vegabillingModal" tabindex="-1" role="dialog"
         aria-labelledby="vegabillingModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe src="" style="width:100%; height:700px" frameborder="0" scrolling="yes"></iframe>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

    <script>

        var request_type = "";
        var loginUrl = '/ConnectGraph/Login.aspx';
        var registerUrl = '/ConnectGraph/Register.aspx';
        var logouturl = '/ConnectGraph/Logout.aspx';
        var profileUrl = '/ConnectGraph/Profile.aspx';
        var paymentUrl = '';
        var id_model = $('#vegaidModal');
        var billing_model = $('#vegabillingModal');
        var sessionInfo = "/ConnectGraph/Success.aspx";

        function VegaidModal_close() {
            id_model.modal('hide');
            billing_model.modal('hide');
        }

        $(document).ready(function () {

            // init callback to unity
            id_model.on('hidden.bs.modal', function (e) {
                if (request_type == "login") {
                    $.ajax({
                        //url: 'callback?task=user',
                        url: sessionInfo,
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.AccessToken != null && data.AccessToken != "") {
                                SendMessage('ZenPlaySdk_WEBGL', 'LoginCallback', JSON.stringify(data));
                            } else {
                                openLoginWebGL();
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(xhr.status);
                            console.log(thrownError);
                        }
                    });
                }
                else if (request_type == "login_2") {
                    openTopupWebGL();
                }
                else if (request_type == 'logout') {
                    location.reload();
                }
            });

            // init callback to unity
            billing_model.on('hidden.bs.modal', function (e) {
                SendMessage('ZenPlaySdk_WEBGL', 'TopupCallback');
            });
        });

        function openLoginWebGL() {
            request_type = 'login'; // type
            id_model.on('show.bs.modal', function (event) {
                $('#vegaidModal iframe').attr('src', loginUrl);
            });
            id_model.modal('toggle');
        }

        function openLoginWebGL_2() {
            request_type = 'login_2'; // type
            id_model.on('show.bs.modal', function (event) {
                $('#vegaidModal iframe').attr('src', loginUrl);
            });
            id_model.modal('toggle');
        }

        function openRegisterWebGL() {
            request_type = 'login'; // type
            id_model.on('show.bs.modal', function (event) {
                $('#vegaidModal iframe').attr('src', registerUrl);
            });
            id_model.modal('toggle');
        }

        function openLogoutWebGL() {
            request_type = 'logout'; // type
            id_model.on('show.bs.modal', function (event) {
                $('#vegaidModal iframe').attr('src', logouturl);
            });
            id_model.modal('toggle');
        }

        function openTopupWebGL() {
            $.ajax({
                url: sessionInfo,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    //if (data.AccessToken != null && data.AccessToken != "") {
                    console.log(data);
                    request_type = 'topup'; // type
                    billing_model.on('show.bs.modal', function (event) {
                        $('#vegabillingModal iframe').attr('src', data.paymentUrl);
                    });
                    billing_model.modal('toggle');
                    //} else {
                    //    console.log("User need logged in");
                    //    return false;
                    //}
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        function openShowInfoWebGL() {
            request_type = 'profile'; // type
            id_model.on('show.bs.modal', function (event) {
                $('#vegaidModal iframe').attr('src', profileUrl);
            });
            id_model.modal('toggle');
        }

        setInterval(function () {
            $.ajax({
                url: sessionInfo,
                type: 'GET',
                dataType: 'json'
            });
        }, 300000); // mỗi 5 phút chạy session 1 lần
    </script>



</body>
</html>
